$background-color: rgb(6, 11, 25);
$border-color: rgba(255, 255, 255, 0.1);
$white: rgb(255, 255, 255);
$font-color: rgb(116, 112, 131);

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 85vh;

    .things { 
        grid-area: 1 / 1 / 3 / 2; 
        display: flex;
    }

    .things-details { 
        grid-area: 1 / 2 / 2 / 3;
        border-left: 1px solid $border-color;
    }

    .event-wrapper { 
        grid-area: 2 / 2 / 3 / 3;
        border-top: 1px solid $border-color;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        min-height: 0;
    }

    .all-events {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 35px 4fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        min-height: 0;
       
        .header {
            display: grid;
            padding: 1em;

            h3 {
                align-self: center;
            }
        }

        .filter {
            display: flex;
            align-items: center;
            padding: 1em;
            background: $border-color;

            #sortOrder {
                margin-left: .5rem;
                background: $background-color;
                border: none;
                color: $white;
                padding: .2rem;
                outline: none;
                cursor: pointer;
                transition: .3s;

                &:hover {
                    background: $white;
                    color: $background-color;      
                }

                &:focus {
                    background: $white;
                    color: $background-color;
                }
            }
        }


        .all-events-list {
            padding: 1em 1em 0;
            overflow-y: scroll;

            h4 {
                display: flex;
                line-height: 35px;
                height: 35px;

                p {
                    margin-left: .3rem;
                }
            }

            .loading {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
        }
    }
}