.event {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.event .event-content {
  flex: 1;
  padding: .7rem;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
}

.event .event-content span {
  font-weight: 600;
}

.event .event-content p {
  opacity: .5;
}
