@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
::-webkit-scrollbar {
  width: 0px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #060b19;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

div, h1, h2, h3, a, p, span, label, input, button, textarea, ::before, ::after {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  color: white;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background: rgba(255, 255, 255, 0.1);
  color: #747083;
  font-weight: 600;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #060b19;
}

.list {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

.list table {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
}

.list table thead {
  background: rgba(255, 255, 255, 0.1);
}

.list table tr {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.list table tr td {
  padding: 1rem .3rem;
  overflow-wrap: break-word;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.list table .name,
.list table .surrname,
.list table .nickname,
.list table .room {
  width: 8rem;
}

.list table .email {
  width: 14rem;
}

.list table .created,
.list table .updated {
  width: 10rem;
}

.list table .option {
  width: 4rem;
}

.list table .option button {
  width: 100%;
}

.list table .pin {
  width: 3rem;
}

.list table .verify,
.list table .dusk,
.list table .state {
  width: 3.4rem;
}

.list table .verify span,
.list table .dusk span,
.list table .state span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list table .verify .yes svg,
.list table .dusk .yes svg,
.list table .state .yes svg {
  fill: #44871e;
}

.list table .verify .no svg,
.list table .dusk .no svg,
.list table .state .no svg {
  fill: #ef4444;
}

.list table .dusk {
  width: 6rem;
}

.user-login,
.user-create {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.user-login form,
.user-create form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  max-width: 300px;
}

.user-login form label[data-type="name"],
.user-login form label[data-type="surrname"],
.user-create form label[data-type="name"],
.user-create form label[data-type="surrname"] {
  width: 50% !important;
}

.user-login form label,
.user-create form label {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin-bottom: 1em;
  position: relative;
}

.user-login form label input,
.user-login form label p,
.user-create form label input,
.user-create form label p {
  color: #747083;
  transition: 0.3s;
}

.user-login form label p,
.user-create form label p {
  margin-bottom: .2em;
}

.user-login form label input,
.user-create form label input {
  width: 100%;
  padding: 1em;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  background: none;
}

.user-login form label input:focus,
.user-create form label input:focus {
  color: white;
  border-color: white;
}

.user-login form label input:focus + p,
.user-create form label input:focus + p {
  color: white;
}

.user-login form button,
.user-create form button {
  width: 100%;
}

.user-login .link,
.user-create .link {
  margin-top: 1em;
  text-align: center;
  color: #747083;
}

.user-login .link a,
.user-create .link a {
  color: #747083;
  transition: 0.3s;
}

.user-login .link a:hover,
.user-create .link a:hover {
  color: #7e57c2;
}

.form-layout {
  display: flex;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  align-self: center;
  overflow-y: scroll;
  flex: 1;
}

.form-layout form {
  max-width: 600px;
  display: flex;
  margin: 0.5em 0 2em 0;
  /* justify-content: center; */
  flex-wrap: wrap;
  align-content: space-between;
}

.form-layout form label[data-type="name"],
.form-layout form label[data-type="surname"] {
  width: 50% !important;
}

.form-layout form label {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin-bottom: 1em;
  position: relative;
}

.form-layout form label input,
.form-layout form label p {
  color: #747083;
  transition: 0.3s;
}

.form-layout form label p {
  font-size: 1em;
  margin-bottom: 0.2em;
}

.form-layout form label span {
  display: flex;
}

.form-layout form label span input[type="checkbox"] {
  padding: 1rem;
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.7;
}

.form-layout form label input:focus + p,
.form-layout form label span input:checked + p {
  color: white;
}

.form-layout form label input {
  width: 100%;
  padding: 1em;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  background: none;
}

.form-layout form label input:focus {
  color: white;
  border-color: white;
  opacity: 1;
}

.form-layout form label input:focus + p {
  color: white;
}

.form-layout form button {
  padding: 1em 2em;
}

.settings-layout .forms {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}

.settings-layout .forms .form-links {
  display: flex;
  flex-wrap: wrap;
}

.settings-layout .forms .form-links .link-to-form {
  height: 10em;
  width: 10em;
  margin: 1em 1em 1em 0;
  background: rgba(255, 255, 255, 0.1);
  color: #747083;
  font-weight: 600;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.3s;
  cursor: pointer;
}

.settings-layout .forms .form-links .link-to-form:hover {
  background-color: white;
}

.settings-layout .forms .form-links .link-to-form:hover > a {
  color: #060b19;
}

.settings-layout .forms .form-links .link-to-form a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  text-align: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #747083;
  transition: 0.3s;
}

.settings-layout .forms .form-links .link-to-form a svg {
  width: 3em;
  height: 3em;
  margin-bottom: 1em;
}

.settings-layout .buttons {
  display: flex;
  width: 100%;
}

.settings-layout .buttons button {
  width: 100%;
}

.email-verify {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-verify .email-content {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.email-verify .email-content .email-info {
  font-size: 1.3em;
  margin-bottom: 1em;
  color: white;
}

.error {
  border: 1px solid #ef4444;
  background: rgba(239, 68, 68, 0.7);
}

.success {
  border: 1px solid #44871e;
  background: rgba(82, 161, 35, 0.7);
}

.error,
.success {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin-bottom: 1em;
  font-size: .8em;
  width: 100%;
}

.error .info,
.error .close,
.success .info,
.success .close {
  opacity: .7;
}

.error .info,
.success .info {
  display: flex;
  align-items: center;
}

.error .info svg,
.success .info svg {
  margin-right: .5rem;
}

.error .close,
.success .close {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.not-found div span {
  color: #747083;
  font-size: 15vh;
  display: inline-block;
  line-height: 12vh;
  height: 12vh;
}

.not-found div p {
  color: #747083;
  font-size: 3vh;
}

.not-found button {
  margin-top: 5em;
}

@media screen and (max-width: 992px) {
  body {
    overflow: initial;
  }
  .settings-layout .forms .form-links {
    align-items: center;
    justify-content: center;
  }
  main {
    display: grid;
    grid-template-columns: 0;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: max-content;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  main .things {
    grid-area: 1 / 1 / 2 / 2;
    width: 100vw;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  main .things-details {
    grid-area: 2 / 1 / 3 / 3;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  main .event-wrapper {
    grid-area: 3 / 2 / 4 / 3;
  }
  main .event-wrapper .all-events {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

@media screen and (max-width: 980px) {
  main .event-wrapper {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    min-height: auto;
  }
}
